body {
    font-family: 'Rubik', sans-serif;
    color: #161d27;
    background-color: #f3f3f3;
}

.banner {  
    width: 100%;
    height: 275px;
    overflow: hidden;
}

.water-image {
    position: absolute;
    width: 100%; 
    height: 275px;
    overflow: hidden;
}

.title {
    color: #f3f3f3;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    text-align: center
}

.display-3 {
    text-align: center;
}

.inline {
    display: inline;
    vertical-align: middle;
}

.copyright {
    text-align: center;
    vertical-align: middle;
    background-color: #161d27;
    color: #f3f3f3;
}

@media only screen and (min-width: 600px) {
    .banner {
        height: 300px;   
    }

    .water-image {
        height: 300px;
    }
} 

@media only screen and (min-width: 768px) {
    .banner {
        height: 250px;   
    }

    .water-image {
        height: 250px;
    }
}

@media only screen and (min-width: 992px) {
    .banner {
        height: 250px;   
    }

    .water-image {
        height: 250px;
    }
} 

@media only screen and (min-width: 1200px) {
    .banner {
        height: 300px;   
    }

    .water-image {
        height: 300px;
    }
}